.form{
    margin-left: 200px;
    margin-right: 200px;
}
.week{
    margin-left: 300px;
    margin-right: 300px;
}

.container{
    width: 75%;
    
}
.col{
    padding-left: 30px;
    padding-right: 30px;
    
}
   
